{{>header}}
<div class="content">
<div class="container-fluid">
{{#concept}}

                        <div class="card">
                          <div class="card-header">
                            <h5>
                              Concepto: "{{concept.title}}"
                            </h5>
                          </div>
                          <div id="collapseOne" class="collapse show" data-parent="#accordion">
                          </div>
                        </div>
{{/concept}}
          
                    <div class="row">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">URL</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">web</i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" value="www.URLdelConcepto.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Respuestas Corregidas</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Nº
                                            </th>
                                            <th>
                                                Respuesta / Justificación
                                            </th>
                                            <th>
                                                Corrección</th>
                                            <th>
                                                Eliminar
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" value="Esto es un ejemplo de una respuesta">
                                                </td>
                                                <td>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                                id="inlineRadio1" value="option1"> Correcta
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                                id="inlineRadio2" value="option2"> Incorrecta
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" type="button">
                                                        <i class="material-icons">delete_forever</i> ELIMINAR RESPUESTA</button>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2.1
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" value="Esto es un ejemplo de una justificación">
                                                </td>
                                                <td>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3"
                                                                id="inlineRadio1" value="option1"> Válida
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions3"
                                                                id="inlineRadio2" value="option2"> Invalida
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger" type="button">
                                                        <i class="material-icons">delete_forever</i> ELIMINAR
                                                        JUSTIFICACIÓN</button>
                                                </td></tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-success" type="button">
                                        <i class="material-icons">add_circle_outline</i> AÑADIR
                                        RESPUESTA</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Respuestas Por Corregir</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Nº
                                            </th>
                                            <th>
                                                Respuesta
                                            </th>
                                            <th>
                                                Corrección
                                            </th>
                                            <th>
                                                Añadir Respuesta
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    Esto es un ejemplo de una respuesta
                                                </td>
                                                <td>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions7"
                                                                id="inlineRadio1" value="option1"> Correcta
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions7"
                                                                id="inlineRadio2" value="option2"> Incorrecta
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success" type="button">
                                                        <i class="material-icons">add_circle_outline</i> AÑADIR
                                                        RESPUESTA</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    Esto es un ejemplo de una respuesta
                                                </td>
                                                <td>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions8"
                                                                id="inlineRadio1" value="option1"> Correcta
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-radio form-check-inline">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions8"
                                                                id="inlineRadio2" value="option2"> Incorrecta
                                                            <span class="circle">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success" type="button">
                                                        <i class="material-icons">add_circle_outline</i> AÑADIR
                                                        RESPUESTA</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                    </footer>

                </div>

          <!-- Question Modals -->
          <div class="modal fade" id="AddQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">PREGUNTA</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="radio">
                    <label><input type="radio" name="optradio" checked>Respuesta Correcta</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio">Respuesta Incorrecta</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Aceptar</button>
                </div>
              </div>
            </div>
          </div>
<div>
<form action="/saveconcept" method="post">
	<button type="submit" class="btn btn-primary">Guardar</button>
	<input type="hidden" name="_csrf" value="{{token}}"/>
</form>
</div>		

{{^concept}}
<p>CONCEPT NOT FOUND</p>
{{/concept}}

	</div>
</div>

{{>footer}}