{{#concepts}}
 {{#logged}}
 <div class="card">
   <div class="card-header">
     <a class="card-link" data-toggle="collapse" href="#">
       {{^admin}}
       <a href="/concept/{{id}}">{{title}}</a>
       {{/admin}}
       {{#admin}}
       <a href="/editConcept/{{id}}">{{title}}</a>
       {{/admin}}
     </a>
     {{#admin}}
     <a style="float:right;" href="/deleteConcept/{{id}}" class="btn btn-primary" role="button">
       <i class="material-icons">delete_forever</i></a>
     {{/admin}}
   </div>
   <div id="collapseOne" class="collapse show" data-parent="#accordion">
   </div>
 </div>
 {{/logged}}
 {{^logged}}

 <div class="card">
   <div class="card-header">
     <a class="card-link" data-toggle="collapse">
       {{title}}
     </a>
   </div>
   <div id="collapseOne" class="collapse show" data-parent="#accordion">
   </div>
 </div>
 {{/logged}}
 <script>
	var indexConcept={{indexConcept}};
 </script>
{{/concepts}}