{{>header}}
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <img src="/img/Inicio.png" style="width:300px"></img>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
        </ul>
      </div>
    </div>
  </nav>
<div class="content">
  <div class="container-fluid">
    <div class="row" style="justify-content:left">
      <!-- /Buscar -->
      <div style="margin-left: 5px" class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-primary search-btn"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Buscar...">
      </div>
    </div>
    </br>
    <div class="row" style="margin-left: 5px; justify-content:left">
      {{#admin}}
      <button class="btn btn-success" data-toggle="modal" data-target="#newUnit" style="float: right" type="button">
        AÑADIR TEMA</button>
      {{/admin}}
    </div></br>
    <div class="row">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title"></span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                {{#units}}
                <li class="nav-item">
                  <a class="nav-link" href="#{{id}}" data-toggle="tab">
                    <i class="material-icons">bookmark</i> {{title}}
                    <div class="ripple-container"></div>
                  </a>
                </li>
                {{/units}}
              </ul>
            </div>
          </div>

        </div>

        <div class="card-body">

          <div class="tab-content">
            {{#units}}
            <div class="tab-pane" id="{{id}}">

              <table class="table">
                <tbody>
                  {{#admin}}
                  <button class="btn btn-danger" type="button">
                    <i class="material-icons">delete_forever</i>ELIMINAR TEMA</button>
                  {{/admin}}

                  {{#concepts}}

                  {{#logged}}
                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#">
                        {{^admin}}
                        <a href="/concept/{{id}}">{{title}}</a>
                        {{/admin}}
                        {{#admin}}
                        <a href="/editConcept/{{id}}">{{title}}</a>
                        {{/admin}}
                      </a>
                      {{#admin}}
                      <a style="float:right;" href="/deleteConcept/{{id}}" class="btn btn-primary" role="button">
                        <i class="material-icons">delete_forever</i></a>
                      {{/admin}}
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    </div>
                  </div>
                  {{/logged}}
                  {{^logged}}

                  <div class="card">
                    <div class="card-header">
                      <a class="card-link" data-toggle="collapse">
                        {{title}}
                      </a>
                    </div>
                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    </div>
                  </div>
                  {{/logged}}
                  {{/concepts}}

                  {{#admin}}
                  <!-- Button trigger modal -->
                  <button class="btn btn-success" type="button" data-toggle="modal" data-target="#newConcept">
                    AÑADIR CONCEPTO</button>

                  <!-- Modal -->
                  <div class="modal fade" id="newConcept" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Nuevo Concepto</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div>

                            {{#concept}}<h2>Concepto "{{concept.title}}"</h2>{{/concept}}

                            <form action="/saveConcept" method="post">
                              <div class="form-group">
                                {{#concept}}<input type="hidden" name="id" value="{{id}}" class="form-control" />{{/concept}}
                                <label for="title">Concepto</label></br>
                                <input type="text" id="title" name="title" {{#concept}}value="{{title}}" {{/concept}}
                                  class="form-control" />
                              </div>
                              <button type="submit" class="btn btn-primary">Guardar</button>
                              <input type="hidden" name="_csrf" value="{{token}}" />
                            </form>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {{/admin}}
                </tbody>
              </table>
            </div>
            {{/units}}
          </div>
        </div>
 		<!-- Modal -->
        <div class="modal fade" id="newUnit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                {{^unit}}<h5 class="modal-title" id="exampleModalLabel">Nueva Unidad</h5>{{/unit}}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>

                  {{#unit}}<h2>Unidad "{{unit.title}}"</h2>{{/unit}}

                  <form action="/saveUnit" method="post">
                    <div class="form-group">
                      {{#unit}}<input type="hidden" name="id" value="{{id}}" class="form-control" />{{/unit}}
                      <label for="title">Unidad</label></br>
                      <input type="text" id="title" name="title" {{#unit}}value="{{title}}" {{/unit}}
                        class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#logged}}
    <div class="row">
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#DiagramModal">
        <i class="material-icons">bar_chart</i> Diagrama</button>
    </div>
    {{/logged}}
    <!-- Diagram Modal -->
    <div class="modal fade" id="DiagramModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">DIAGRAMA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          {{#units}}
            <span class="progress-badge">{{title}}</span>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          {{/units}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{>footer}}